* {
  box-sizing: border-box;
}
.start{
  display:flex;
  flex-flow: column;
  align-items: center;
  width: 80vw;
  height: auto;
}
.welcomePage{
  display: flex;
  align-content: center;
  flex-flow: column;
  justify-content: center;
  border: 2px solid red;
  width: 98vw;
  height: 50vw;
}
.welcomeTitle{
  align-self: center;
}
.startButton{
  align-self: center;
  max-width: 200px;
  height: 50px;
}

.title{
  width: 50vw;
  line-height: 30px;
}
.quizQuestions{
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px 0px 10px 5px;
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: flex-start;    
}
.quizBox{
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  width: 75vw;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.choices{
  padding: 7px;
}
.question{
  font-size: 200px;
}
.btton{
  max-width: 200px;
  
}