* {
  box-sizing: border-box;
}

.start{
  width: 80vw;
  height: auto;
  display:flex;
  flex-flow: column;
  align-items: center;  
}
.welcomeTitle{  
  font-family: 'Inter', sans-serif;
  font-family: 'Rubik Iso', cursive;
  text-align: center;
  width:80%;
}
.welcomePage{
  background-color: #FAE7A5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.api-link{
  margin-top:10rem;
}
.startButton-container{
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80px;
  width: 200px;  
  border-radius: 10px;
}
.startButton:active{
  box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.9);
}
.startButton{
  background-color: rgb(168, 230, 255);
  font-size: 2rem;
  margin-top: 2rem;
  max-width: 200px;
  height: 80px;
  width: 200px;
  text-align: center;
  border: none;  
  border-radius: 10px;
  cursor:pointer;
}
.api-link{
  text-align: center;
  width: 80%
}
.quiz-container{
  background-color: rgb(168, 230, 255);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items:center;
  justify-content: center;
}
.quiz-container > h3 {
  margin: 5vh 0 2vh 0;
}
/*Orange (#F9B872, #FAE7A5), powder blue #B6E1E7*/
.quizBox{
  border: 5px solid #F9B872;
  background-color: #FAE7A5;
  border-radius: 10px;
  margin: 2rem;
  min-width: 350px;
  width: 65vw;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}
.quizQuestions{
  border: 5px solid rgba(0, 0, 255, 0.4);
  background-color: #B6E1E7;
  border-radius: 10px;
  padding: 10px 0px 10px 1.5%;
  min-width: 300px;
  width: 55%;
  min-height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.choices{
  display: flex;
  width: 300px;
  padding: 20px;
  height: auto;
}
label{
  line-height: 30px;
  font-size: 15px;
  height: auto; 
  width: 250px; 
  align-items: center;
  justify-items: center;
  display: flex;
}
 p.label-text{ 
  width: 250px;
  padding: 20px;
  margin: auto;
  margin-left: -25px;
  justify-items:flex-start;
  border: 2px solid black;
  background-color: rgb(140, 200, 255)
}
input.question{
  visibility: collapse;
}
/*checked answer*/
input[type="radio"]:checked ~ p {
  background-color: rgb(255, 255, 100); 
  width: 250px;
  height: auto;
  border-radius: 16px;
}

/*checked answer after clicking submit*/
input[type="radio"]:checked + p.highlight {
  background-color: green;
  border: 3px solid rgb(255, 255, 100);
  box-shadow: 0 0 30px rgb(110, 110, 110);  
}
input[type="radio"]:checked + p.wrong {
  background-color: red;
  border: 3px solid rgb(255, 255, 100);
  box-shadow: 0 0 30px rgba(110, 110, 110, 0.9);
}

/*unchecked answer after clicking submit*/
label > p.highlight{
  background-color: green ;
  width: 250px;
  height: auto;
  border-radius: 16px;
  z-index: 42;
}
label > p.wrong{
  background-color: red ;
  width: 250px;
  border-radius: 16px;
  z-index: 22;
}


.submit-button-container{
 display: flex;
 justify-content: center;
}
.submit-button{
  font-size: 30px;
  margin: 2rem;
  border: none;  
  border-radius: 10px;
  height: 80px;
  width: 300px;
}
.submit-button:active{
  background-color: rgba(1, 255, 1, 0.5);
  box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.9);
}

#endgame{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#score{
  height: 5vh;
  font-size: 1.5rem;
}
.endgame-text{
  color: rgba(0, 0, 0, 0.9);
  text-align: center !important;
}
#endgame-button{
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 255, 0.4);
}
#endgame-button:active{
  border-radius: 7px;
  box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.9);
}
.endgame-portfolio-button{
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 255, 0.4);
}
.endgame-portfolio-button:active{
  border-radius: 7px;
  box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.9);
}
#endgameover{
  font-size: 70px;
}
#loading{
  font-size: 100px;
}
#loading-desc{
  font-size: 50px;
}
#loading-container{
  height: 100vh;
  background-color: rgb(255,203,45);
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}
#loading-image{
  height: 100px;
}


@media (min-width: 1431px) and (max-width: 1764px) {
  .quizQuestions{
    min-width:650px;
  }
}


@media (min-width: 1025px) and (max-width: 1430px){
  .quizQuestions{
    padding: 10px 0px 10px 25px;
    width: 650px;
  }
}


@media (max-width: 1024px) {
  .startButton{
    width:100px;
    height:50px;
    padding:0;
  }
  label{
    line-height: auto;
    font-size: 13px;
  }
  form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    width:80%;
    text-align: center;
  }
  .quizBox{
    max-height:800px;
    min-width:320px !important;
    padding: 0 0 30px;
    margin: 40px 0;
  }
  .quizQuestions{
    padding: 10px 0px 10px 20px;
    max-height: 800px;
    max-width: 200px; 
    width:100%;
    height:auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
  }
  .choices{
    align-self: center;
    width: 70%;
    height: auto;
    padding:0;
  }
  .label{
    border:22px solid green !important;
  }
  .title{
    font-size:15px;
  }
  .endgame-text{
    font-size: 30px ;
  }
  .submit-button-container{
    width:100%;
  }
  #endgameover{
    font-size:45px;
  }
  .loading-text, .welcomeTitle, .startButton{
    font-size: 1rem !important;
  }

}