* {
  box-sizing: border-box;
}

.start{width: 80vw;
  height: auto;
  display:flex;
  flex-flow: column;
  align-items: center;  
}
.welcomeTitle{  
  font-family: 'Inter', sans-serif;
  font-family: 'Rubik Iso', cursive;
}
.welcomePage{
  background-color: #FAE7A5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.startButton-container{
  text-decoration: none;
  width: 20vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startButton:active{
  box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.9);
}
.startButton{
  background-color: rgb(168, 230, 255);
  font-size: 2rem;
  margin-top: 2rem;
  max-width: 200px;
  height: 80px;
  width: 200px;
  text-align: center;
  border: none;  
  border-radius: 10px;
}
.quiz-container{
  background-color: rgb(168, 230, 255);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items:center;
  justify-content: center;
}
.quiz-container > h3 {
  margin: 5vh 0 2vh 0;
}
/*Orange (#F9B872, #FAE7A5), powder blue #B6E1E7*/
.quizBox{
  border: 5px solid #F9B872;
  background-color: #FAE7A5;
  border-radius: 10px;
  margin: 2rem;
  min-width: 350px;
  width: 65vw;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}
.quizQuestions{
  border: 5px solid rgba(0, 0, 255, 0.4);
  background-color: #B6E1E7;
  border-radius: 10px;
  padding: 10px 0px 10px 5px;
  min-width: 300px;
  width: 55%;
  min-height: 180px;
  display: flex;  
  flex-wrap: wrap;
  align-content:center;
  justify-content: space-around;
}
.choices{
  margin-right: 0px;
  text-align: center;
  min-width: 170px;
  width: 220px;
  min-height: 160px;
  height: auto;

  display: flex;
  align-items: center;
}
label{
  line-height: 30px;
  font-size: 20px;
}
input[type="radio"]:checked + span {
  background-color: yellow;
  padding: 20px;
  width: 300px;
  height: auto;
  border-radius: 16px;
}
input[type="radio"]:checked + span.highlight {
  background-color: green;
  border: 3px solid yellow;
}
input[type="radio"]:checked + span.wrong {
  background-color: red;
  border: 3px solid yellow;
}
.question{
  width: auto;
  height: auto; 
  visibility: hidden;
}
.submit-button-container{
 display: flex;
 justify-content: center;
}
.submit-button{
  font-size: 30px;
  margin: 2rem;
  border: none;  
  border-radius: 10px;
  height: 80px;
  width: 300px;
}
.submit-button:active{
  background-color: rgba(1, 255, 1, 0.5);
  box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.9);
}

#endgame{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#score{
  height: 5vh;
  font-size: 1.5rem;
}
.endgame-text{
  color: rgba(0, 0, 0, 0.9);
}
#endgame-button{
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 255, 0.4);
}
#endgame-button:active{
  border-radius: 7px;
  box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.9);
}
#endgameover{
  font-size: 70px;
}
#loading{
  font-size: 100px;
}
#loading-desc{
  font-size: 50px;
}
#loading-container{
  height: 100vh;
  background-color: rgb(255,203,45);
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}
#loading-image{
  height: 100px;
}
.highlight{
  background-color: green;
  width: 300px;
  height: auto;
  padding: 20px;
  border-radius: 16px;
  z-index: 4;
}
.wrong{
  border-radius: 16px;
  background-color: red;
  padding: 20px;
  width: 300px;
  z-index: 2;
}
